.log{
    align-self: center;
    color: rgb(0, 0, 0) !important;
    padding: 15px 32px !important;
    text-align: center !important;
    text-decoration: none !important;
    display: inline-block !important;
    font-size: 40px !important;
    margin: 4px 2px !important;
    cursor: pointer !important; 
}
.ad{
    background-color: #000000 !important;
    top: 100px !important;
    border: none !important;
    color: rgb(223, 217, 217) !important;
    border-radius: 20px  !important;
    padding: 15px 32px !important;
    text-align: center !important;
    text-decoration: none !important;
    display: inline-block !important;
    font-size: 30px !important;
    margin: 4px 2px !important;
    cursor: pointer !important; 
}
.no{
    align-self: center;
    top: 200px !important;
    color: rgb(0, 0, 0) !important;
    padding: 15px 32px !important;
    text-align: center !important;
    text-decoration: none !important;
    display: inline-block !important;
    font-size: 19px !important;
    margin: 4px 2px !important;
    cursor: pointer !important;
}
.reg{
    background-color: #000000 !important;
    top: 200px !important;
    border-radius: 20px  !important;
    color: rgb(223, 217, 217) !important;
    padding: 15px 32px !important;
    text-align: center !important;
    text-decoration: none !important;
    display: inline-block !important;
    font-size: 20px !important;
    margin: 4px 2px !important;
    cursor: pointer !important;
}