.button {
    background-color: #ffffff !important;
    border: none !important;
    color: rgb(0, 0, 0) !important;
    padding: 15px 32px !important;
    text-align: center !important;
    text-decoration: none !important;
    display: inline-block !important;
    font-size: 40px !important;
    margin: 4px 2px !important;
    cursor: pointer !important; 
  }
.but {
    background-color: #ffffff !important;
    border: none !important;
    top: 100px !important;
    color: rgb(0, 0, 0) !important;
    padding: 15px 32px !important;
    text-align: center !important;
    text-decoration: none !important;
    display: inline-block !important;
    font-size: 25px !important;
    margin: 4px 2px !important;
    cursor: pointer !important;
}
.gig {
    background-color: #000000 !important;
    border: none !important;
    top: 150px !important;
    color: rgb(224, 215, 215) !important;
    padding: 15px 32px !important;
    text-align: center !important;
    border-radius: 15px !important;
    display: inline-block !important;
    font-size: 20px !important;
    margin: 4px 2px !important;
    cursor: pointer !important;
}
