.ap{
    align-self: center;
    color: #2E3B55 !important;
    padding: 15px 32px !important;
    text-align: center !important;
    text-decoration: none !important;
    display: inline-block !important;
    font-size: 20px !important;
    margin: 4px 2px !important;
    cursor: pointer !important; 
}
.ac{
    background-color: #2E3B55 !important;
    top: 50px !important;
    border: none !important;
    color: white !important;
    border-radius: 20px  !important;
    padding: 15px 32px !important;
    text-align: center !important;
    text-decoration: none !important;
    display: inline-block !important;
    font-size: 15px !important;
    margin: 4px 2px !important;
    cursor: pointer !important; 
}